.dark-title{
    color: #693b58 ;
    text-transform: uppercase;
        
}
.title-2{
 font-size: 18px;
color: #6e2759;
font-style: normal;
text-transform: capitalize;
font-weight: 600;
font-family: 'Playfair Display';

}
.box-item-2{
    padding: 20px;
    border: 2px solid #6e2759;
    margin-right: 10px;
    height: 210px;
        margin-top:70px;
}
.box-item-2 img{
    margin-top: -61px;
background:#fff;
padding: 17px;
border: 4px solid #6e2759;
box-shadow: 2px 2px #868686;
}